<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subang.app.activity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.subang.app.util.AppShare"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme">
        <activity android:name=".TestActivity">

        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="速帮洗衣">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AddOrderActivity" />
        <activity
            android:name=".DateActivity"
            android:theme="@style/CustomTranslucent" />
        <activity android:name=".AddrActivity" />
        <activity android:name=".AddAddrActivity" />
        <activity
            android:name=".AreaActivity"
            android:theme="@style/CustomTranslucent" />
        <activity android:name=".CityActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".CellnumActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".RemarkActivity" />
        <activity android:name=".TicketActivity" />
        <activity android:name=".BalanceActivity" />
        <activity android:name=".MallActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".RechargeActivity" />
        <activity
            android:name="PrepayActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxe52147e45bfaa563" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".PayResultActivity" />

        <receiver android:name="com.subang.app.component.WeixinReceiver">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
